:root {
  --font-small: 0.75em;
  --font-base: 1em;
  --font-normal: 2.5em;
  --font-medium: 4em;
  --font-large: 10em;
  --font-xlarge: 36em;

  --space-xlarge: 8em;
  --space-large: 4em;
  --space-normal: 2em;
  --space-small: 1em;
  --space-xsmall: 0.5em;
  --space-xxsmall: 0.25rem;

  --is-yellow: #fff318ed;
  --is-grey: #6E746D;
  --is-white: #fff;
}

html,
body {
  height: auto;
}

html.lenis {
  height: auto;
}

html.lenis body {
  min-height: 100%;
  height: auto;
  overflow: auto;
}

html.lenis.lenis-smooth {
  scroll-behavior: auto;
}

html.lenis.lenis-stopped body {
  overflow: hidden;
}

html.lenis-disabled body {
  overflow: auto;
}

@font-face {
  font-family: 'body';
  src: url(body.otf);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0.75;
  cursor: pointer;
  font-family: 'body';
}

p {
  margin-block: 0;
  letter-spacing: -0.25px;
}

h1, h2, h3, h4 {
  font-size: inherit;
  font-weight: normal;
  margin-block: 0;
}

body {
  font-family: 'Body';
  font-size: clamp(1vw, 1em, 14px);
  margin-top: var(--space-normal);
  line-height: 1;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
  top: var(--space-xsmall);
  left: var(--space-xsmall);
  right: var(--space-xsmall);
  gap: var(--space-xsmall);
  z-index: 2;
  > h1 {
    flex: 1;
    margin: 0;
  }
  > button {
    display: none;
  }
  & .is-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    top: 0;
    letter-spacing: -2%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--is-yellow);
    padding: var(--space-xsmall);
    > button {
      margin-left: auto;
      margin-right: 0;
      font-size: var(--font-medium);
    }
    > nav {
      display: flex;
      flex-direction: column;
      font-size: var(--font-medium);
      justify-content: flex-end;
    }
  }
}

button {
  color: currentColor;
  font-weight: normal;
}

footer {
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      flex: 1;
      display: flex;
      justify-content: space-between;
      &:first-child {
        justify-content: flex-start;
        gap: var(--space-normal);
      }
      &:last-child {
        > div {
          display: flex;
          flex-direction: column;
          flex: 1;
          a {
            display: flex;
            justify-content: space-between;
          }
          &:last-child {
            a {
              justify-content: flex-end;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
}

[home] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-normal);
  position: sticky;
  top: var(--space-normal);
  > h2 {
      flex: 0.5;
      font-size: var(--font-small);
      text-transform: uppercase;
      position: sticky;
      top: 0;

  }
  > li:first-child {
    flex: 0.5;
  }
  > li {
    flex: 0.25;
    padding-left: var(--space-xsmall);
  }
}

[projects] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: var(--space-normal);
  font-size: var(--font-medium);
  margin-top: 100vh;
  > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    > img {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 50vw;
      aspect-ratio: 1;
      object-fit: cover;
      pointer-events: none;
      z-index: 1;
    }
    > h1 {
      flex: 1;
    }
    > div {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

[masonery] {
  column-count: 6;
  gap: var(--space-xsmall);
  li {
    break-inside: avoid;
    margin-bottom: var(--space-xsmall);
    > img {
      width: 100%;
      height: 100%;
    }
  }
}

[clients] {
  display: grid;
  grid-template-columns: 0.25fr 1fr 2.2fr;
  margin-top: var(--space-normal);
  gap: var(--space-normal);
  text-transform: uppercase;
  ul {
    column-count: 4;
    column-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

[services] {
  display: flex;
  justify-content: space-between;
  gap: var(--space-large);
  margin-bottom: var(--space-large);
  > li {
    position: relative;
    > h1 {
      font-size: var(--font-large);
      max-width: 10ch;
    }
    > h2 {
      font-size: var(--font-medium);
    }
    & h3 {
      text-transform: uppercase;
    }
    & h4 {
      text-transform: uppercase;
      margin-top: var(--space-normal);
    }
  }
}

[about] {
  display: grid;
  grid-template-columns: 0.25fr 1fr 2.2fr;
  margin-top: var(--space-normal);
  gap: var(--space-normal);
  & ul {
    column-count: 4;
    column-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      display: flex;
      text-transform: uppercase;
      > span {
        min-width: var(--space-normal);
      }
    }
  }
  & h2 {
    font-size: var(--font-medium);
    text-align: right;
  }
  & h3 {
    text-transform: uppercase;
  }
}

[footer] {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  margin-top: var(--space-normal);
  gap: var(--space-normal);
    > li:not(:first-child) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    > li {
      display: flex;
      > span {
          display: flex;
          gap: var(--space-small);
      }
  }
  & h2 {
    font-size: var(--font-medium);
    text-align: right;
  }
  & h3 {
    text-transform: uppercase;
  }
}

[single] {
  display: flex;
  flex-direction: column;
  gap: var(--space-xsmall);
  > .is-header {
    position: relative;
    display: flex;
    font-size: var(--font-medium);
    margin-bottom: var(--space-large);
    & h1 {
      flex: 0.5;
    }
    > span {
      display: flex;
      gap: var(--space-xsmall);
      flex: 0.5;
      > h1:first-child {
        flex: 0.75;
      }
      > h1:last-child {
        text-align: right;
        flex: 0.25;
      }
    }
  }
  > .is-details {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: 50%;
    min-height: 20em;
    & h2 {
      text-transform: uppercase;
    }
    > span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      > span {
        text-align: right;
      }
    }
  }
  > .is-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > button {
      font-size: var(--font-medium);
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xsmall);
    
    > li {
      box-sizing: border-box;
    }
  }
  
  > ul.DST {
    > li:nth-child(1) { width: 100%; }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)/2); } 
    > li:nth-child(4) { width: 100%; }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: calc(50% - var(--space-xsmall)/2); } 
    > li:nth-child(7) { width: calc(50% - var(--space-xsmall)/2); } 
    > li:nth-child(8) { width: 100%; }
  }
  
  > ul.PB {
    > li:nth-child(1) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(2) { width: calc(25% - var(--space-xsmall)/4); }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: calc(25% - var(--space-xsmall)/4); }
    > li:nth-child(7) { width: calc(75% - var(--space-xsmall)*3/4); }
  }
  
  > ul.OV {
    > li:nth-child(1) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(3) { width: 100%; }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(5) { width: calc(50% - var(--space-xsmall)/2); }
    > li:nth-child(6) { width: calc(66% - var(--space-xsmall)/3); }
    > li:nth-child(7) { width: calc(33% - var(--space-xsmall)/3); }
    > li:nth-child(8) { width: 100%; }
    > li:nth-child(9) { width: calc(25% - var(--space-xsmall)/4); }
    > li:nth-child(10) { width: calc(75% - var(--space-xsmall)*3/4); }
  }
  
  > ul.SA {
    > li:nth-child(1) { width: 100%; }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(4) { width: 100%; }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: 100%; }
    > li:nth-child(7) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(8) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(9) { width: 100%; }
    > li:nth-child(10) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(11) { width: calc(50% - var(--space-xsmall)*1/2); }
  }
  
  > ul.SL {
    > li:nth-child(1) { width: 100%; }
    > li:nth-child(2) { width: 100%; }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(7) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(8) { width: 100%; }
    > li:nth-child(9) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(10) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(11) { width: calc(33% - var(--space-xsmall)*1/3); }
    > li:nth-child(12) { width: calc(66% - var(--space-xsmall)*2/3); }
  }

    > ul.EMS {
    > li:nth-child(1) { width: 100%; }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(4) { width: 100%; }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: 100%; }
    > li:nth-child(7) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(8) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(9) { width: 100%; }
    > li:nth-child(10) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(11) { width: calc(50% - var(--space-xsmall)*1/2); }
  }
  
  > ul.AC {
    > li:nth-child(1) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: 100%; }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(5) { width: calc(50% - var(--space-xsmall)*1/2); }
  }

  > ul.NCG {
    > li:nth-child(1) { width: 100%; }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(4) { width: 100%; }
    > li:nth-child(5) { width: 100%; }
    > li:nth-child(6) { width: 100%; }
    > li:nth-child(7) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(8) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(9) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(10) { width: calc(50% - var(--space-xsmall)*1/2); }
  }

  > ul.PAC {
    > li:nth-child(1) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: 100%; }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(5) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(6) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(7) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(8) { width: 100%; }
    > li:nth-child(9) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(10) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(11) { width: 100%; }
  }

  > ul.SP {
    > li:nth-child(1) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: 100%; }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(5) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(6) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(7) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(8) { width: 100%; }
    > li:nth-child(9) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(10) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(11) { width: 100%; }
  }

  > ul.BZ {
    > li:nth-child(1) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(2) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(3) { width: 100%; }
    > li:nth-child(4) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(5) { width: calc(50% - var(--space-xsmall)*1/2); }
    > li:nth-child(6) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(7) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(8) { width: 100%; }
    > li:nth-child(9) { width: calc(25% - var(--space-xsmall)*1/4); }
    > li:nth-child(10) { width: calc(75% - var(--space-xsmall)*3/4); }
    > li:nth-child(11) { width: 100%; }
  }
  
  & img {
    width: 100%;
  }
}

[recreation] {
  display: flex;
}

[pause] {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  position: fixed;
  top: 0;
  left: var(--space-xsmall);
  right: var(--space-xsmall);
  gap: var(--space-xsmall);
  pointer-events: none;
  & img {
    width: 100%;
  }
  & li {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
} 

/* RESPONSIVE */
@media only screen and (max-width: 767px) {

  body {
  font-family: 'Body';
  font-size: 16px;
  margin-top: var(--space-normal);
  line-height: 1;
  color: black;
}

  [home], [projects], [clients], [services], [about] {
    display: flex;
    flex-direction: column;
  }

  header {
    >  nav {
        display: none;
        
      }
    > button {
      display: block;
      font-size: var(--font-base);
      text-transform: uppercase;
    }
  }

  footer {
    & ul {
      display: flex;
      flex-direction: column;
      gap: var(--space-xsmall);
      margin-top: var(--space-xsmall);
        & li {
            &:first-child {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: unset;
              > div:nth-child(1) {
                grid-column: 1;
                grid-row: 1;
              }
              
              > div:nth-child(3) {
                grid-column: 2;
                grid-row: 1 / span 2;
                text-align: right;
              }
              
              > div:nth-child(2) {
                grid-column: 1;
                grid-row: 2;
              }
            }
        }
    }
  }
  [home] {
    gap: var(--space-small);
    > li {
      padding-left: unset;
    }
  }
  [about] {
    gap: var(--space-xsmall);
    & ul {
      column-count: 1;
    }
  }
  [clients] {
    gap: var(--space-xsmall);
    & ul {
      column-count: 2;
    }
  }
  [projects] {
  font-size: var(--font-normal);
  margin-top: 50vh;
    > li {
      > div {
        display: none;
      }
      & img {
        display: none;
      }
    }
  }
  [services] {
    margin-bottom: var(--space-large);
    & > li {
      > h2 {
          font-size: var(--font-medium);
          max-width: 30ch;
      }
      & > div {
        > span {
            rotate: -90deg;
            color: var(--is-yellow);
            font-size: var(--font-large);
        }
      }
    }
  }
  [single] {
    & > .is-header {
      flex-direction: column;
      margin-bottom: unset;
      height: 50vh;
      align-content: space-between;
      font-size: var(--font-normal);
      & h1 {
        flex: 1;
      }
      & > span {
        flex: 0;
      }
    }
    & > .is-details {
      width: 100%;
    }
    & > .is-nav {
        > button {
        font-size: var(--font-normal);
        }
      }
    & > ul {
      & > li {
        width: 100%!important;
      }
    }
  }
  [masonery] {
    column-count: 2;
  }
  [footer] {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: var(--space-normal);
    gap: var(--space-normal);
  }
  [pause] {
    display: flex;
    flex-direction: column;
  }
  [recreation] {
    display: flex;
      flex-direction: column;
    transform: translateY(0%);
    > li {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-large);
    }
  }

}
